<h1>Sign In</h1>

<%= form_tag sessions_url, :class => 'form-horizontal' do %>
  <%= label_tag :email %>
  <%= email_field_tag :email %>

  <%= submit_tag "Sign In", :class => 'btn btn-success' %>
<% end %>
